{% extends "base.html" %}
{% block title %}Сброс пароля выполнен{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Сброс пароля выполнен</h1>
  </div>
  <p class="custom-text-block">Пароль изменён, всё получилось.</p>
  <p class="custom-text-block">Вы будете перенаправлены на главную страницу через <span id="timer" style="font-weight: bold; padding:0 1em;">5</span> секунд...</p>
  <script>
     setTimeout(function(){
        window.location.href = '{% url 'recipes:index' %}';
     }, 5000);
     setInterval(function(){
       document.querySelector('#timer').innerHTML -= 1;
     }, 1000)
  </script>
{% endblock %}