{% extends "base.html" %}
{% block title %}Password changed{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}

  <div class="custom-center-block">
    <p class="custom-text-block">Ваш пароль был изменен. Вы будете перенаправлены на главную страницу через <span id="timer" style="font-weight: bold; padding:0 1em;">5</span> секунд...</p>
    <div class="custom-button-block">
      <a class="button button_style_blue" href="{% url 'recipes:index' %}">
        Перейти на главную
      </a>
    </div>
  </div>

{% endblock %}
{% block scripts %}
  <script src="{% static 'js/indexPageRedirect.js' %}"></script>
{% endblock %}