{% extends "base.html" %}
{% block title %}Ссылка на восстановление пароля отправлена{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Ссылка на восстановление пароля отправлена</h1>
  </div>

  <div class="custom-center-block">
    <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
    <p class="custom-text-block">Вы будете перенаправлены на главную страницу через <span id="timer" style="font-weight: bold; padding:0 1em;">5</span> секунд...</p>
    <div class="custom-button-block">
      <a class="button button_style_blue" href="{% url 'recipes:index' %}">
        Перейти на главную
      </a>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/indexRedirect.js' %}"></script>
{% endblock %}