{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">
      {% if author.first_name and author.last_name %}
      {{ author.first_name }} {{ author.last_name }}
      {% else %}
      @ {{ author.username }}
      {% endif %}
    </h1>
    {% include 'recipes/tags-list.html' %}
  </div>
  <div class="card-list">
    {% for recipe in author.recipes.all %}
      {% include 'recipes/recipe-card.html' %}
    {% endfor %}
  </div>
{% endblock %}