{% extends "base.html" %}
{% block title %}Изменение рецепта{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="main__header">
    <h1 class="main__title">Редактирование рецепта</h1>
  </div>
  <div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data" action="{% url 'recipes:recipe-edit' slug=recipe.slug %}" autocomplete="off">
{#      todo: DRY!#}
      {% csrf_token %}
      {% include 'recipes/recipe-form-new.html' %}
      <div class="form__footer">
        <button class="button button_style_blue">Сохранить</button>
        <a style="margin-left: 2.5em" href="#" class="form__ingredient-link">Удалить</a>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/utils/debouncing.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}