{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">{{ page_title }}</h1>
    {% include 'recipes/tags-list.html' %}
  </div>
  <div class="card-list">
    {% for recipe in recipes %}
      {% include 'recipes/recipe-card.html' %}
    {% endfor %}
  </div>
  {% if page_obj.has_other_pages %}
    {% include 'paginator.html' with page_obj=page_obj %}
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>


  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/tagFilter.js' %}"></script>

  {% if user.is_authenticated %}
  <script src="{% static 'js/indexAuth.js' %}"></script>
  {% else %}
  <script src="{% static 'js/indexNotAuth.js' %}"></script>
  {% endif %}
{% endblock %}