{% extends "base.html" %}
{% block title %}Подтвердите удаление{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Подтвердите удаление</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="custom-center-block">
    <p class="custom-text-block">Вы уверены, что хотите удалить "{{ object }}"?</p>
    </div>
    <div class="custom-button-block">
      <input class="button button_style_blue" type="submit" value="Confirm">
    </div>
  </form>
{% endblock %}