{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Все рецепты</h1>
    {% include 'recipes/tags-list.html' %}
  </div>
  <div class="card-list">
    {% for recipe in recipes %}
      {% include 'recipes/recipe-card.html' %}
    {% endfor %}
  </div>
{#  paginator: {{ paginator }}#}
{#  page_obj.paginator {{ page_obj.paginator }}#}
{#  page_obj.paginator.num_pages: {{ page_obj.paginator.num_pages }}#}
{#  page_obj.has_next {{ page_obj.has_next }}#}
    {% if paginator.num_pages > 1 %}
      {% include 'paginator.html' with items=recipes %}
    {% endif %}
{% endblock %}