<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
        Foodgram | And one more social network. For food-lovers this time
      {% endblock %}
    </title>
    {% load static %}
  {#  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">#}
  {#  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <div class="container">
        <h1>
          {% block header %}
            Foodgram | And one more social network. For food-lovers this time
          {% endblock %}
        </h1>
        {% block content %}
          <!-- Содержимое страницы -->
        {% endblock %}
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>